# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
ENV/
.venv/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE settings
.vscode/
.idea/
